<app-ad-options
  (filterEvent)='filter($event)'
  [userId]='userId'></app-ad-options>
<div *ngIf='loaded; else loading' class='list'>
  <div *ngIf='errorMessage != null'>
    <p class='main-result'>{{ errorMessage }}</p>
  </div>
  <div *ngIf='ads'>
    <div *ngIf='ads.length != 0; else noResult'>
      <mat-grid-list (window:resize)='onResize($event)' [cols]='breakpoint' rowHeight='275px'>
        <mat-grid-tile *ngFor='let ad of ads' [colspan]='1' [rowspan]='1'>
          <app-ad-thumbnail [ad]='ad'></app-ad-thumbnail>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <mat-paginator (page)='handlePageEvent($event)'
                 *ngIf='length > 0'
                 [length]='length'
                 [pageIndex]='pageIndex'
                 [pageSize]='pageSize'
                 [showFirstLastButtons]='showFirstLastButtons'
  >
  </mat-paginator>
</div>


<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
<ng-template #noResult>
  <div class='main-result'>No result found</div>
</ng-template>
